<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.caleydo.ui.GLElementFactory">
      <factory
            factory="org.caleydo.view.compounds.internal.CompoundsElementFactory"
            icon="resources/icons/icon.png"
            name="Compound Structure Viewer"
            scaleType="fix">
      </factory>
   </extension>
</plugin>
